PORT=8787
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_BUCKET=staffboard
DO_SPACES_REGION=nyc3
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_KEY_PREFIX=staffboard-2/

STAFFBOARD_ADMINS_JSON=[{"username":"ali","password":"pass1","role":"admin"},{"username":"manager","password":"pass2","role":"admin"}] 
